# Database - MySQL DSN used by codegen tests
MYSQL_DSN=root:123456@tcp(127.0.0.1:3306)/demo?charset=utf8mb4&parseTime=True

# Database - MySQL URI used by dbgorm
MYSQL_URI=mysql://root:123456@127.0.0.1:3306/demo?charset=utf8mb4&parseTime=true

# Database - PostgreSQL DSN used by codegen tests
POSTGRES_DSN=host=127.0.0.1 user=postgres password=123456 dbname=demo port=5432 sslmode=disable TimeZone=Asia/Shanghai

# Database - PostgreSQL URI used by dbgorm
POSTGRES_URI=postgres://postgres:123456@127.0.0.1:5432/demo?sslmode=disable

# Redis
REDIS_ADDR=127.0.0.1:6379
REDIS_PASSWORD=123456

# Elasticsearch
ELASTICSEARCH_ADDR=http://localhost:9200